/* ------------------------- ART PAGE CONTENT ------------------------------*/
.container-1{
    padding: 0;
    margin:0;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a484b;
    height: 50vh;
}
.slider .art-base{
    width:100%;
    height:100%;
    object-fit: contain;
}
.art-btn{
    border: none;
    color: white;
    font-size: 60px;
    border-radius: 5px;
    width: 70px;
}
#left-btn{
   position: absolute;
   left: 10%;
   background: transparent;
   opacity: 40%;
}
#right-btn{
    position: absolute;
    right: 10%;
    background: transparent;
    opacity: 40%;
}
/* ------------------------- IMAGE GALLERY ------------------------------*/
select{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
}
option{
    font-family: Verdana, sans-serif;
    border: none;
}
#row-1{
    margin-top: 30px;
}
.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    text-shadow: -2px 0px 0px #b5a7b8,
    1px 0px 0px #b5a7b8,
    0px -2px 0px #b5a7b8,
    0px 2px 0px #b5a7b8;
    color: white;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
}
.artwork{
    width: 100%;
    margin-bottom: 3%;
    border: 4px solid white;
}
#sw{
    display: block;
}
#il{
    display: none;
}
#ca{
    display: none;
}
#d3{
    display: none;
}
#sk{
    display: none;
}

@media screen and (max-width: 768px){
    .header{
        font-size: 50px;
    }
    .select{
        font-size: 75%;
    }
    .artwork{
        border: 3px solid white;
    }
    .art-btn{
        font-size: 40px;
    }
    #left-btn{
       left: 1%;
    }
    #right-btn{
        right: 1%;
    }  
}
@media screen and (max-width: 550px){
    select{
        width: 70%;
    }
    .col{
        padding:0;
    }
    .artwork{
        margin-bottom: 0;
    }
}