/* ------------------------- ART PAGE CONTENT ------------------------------*/
.container-1{
    padding: 0;
    margin:0;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 50vh;
}
.slider .art-base{
    width:100%;
    height:100%;
    object-fit: contain;
}
.art-btn{
    border: none;
    color: white;
    font-size: 60px;
    border-radius: 5px;
    width: 70px;
}
#left-btn{
   position: absolute;
   left: 10%;
   background: transparent;
   opacity: 40%;
}
#right-btn{
    position: absolute;
    right: 10%;
    background: transparent;
    opacity: 40%;
}
#gallery-box{
    padding: 0;
    justify-self: center;
}

.container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.877);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0; right: 30px;
    font-size: 60px;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
    position: absolute;
    top: 50%; left: 20%;
    transform: translate(-30%, -50%);
    height: 80%;
    width: 50%;
    object-fit: contain;
    
}
#img-description{
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
    height: 20%;
    width: 30%;
    font-family: Verdana, sans-serif;
}
.image-cap{
    display: none;
}

/* ------------------------- IMAGE GALLERY ------------------------------*/
select{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
}
option{
    font-family: Verdana, sans-serif;
    border: none;
}
#row-1{
    margin-top: 30px;
}
.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    text-shadow: -3px 0px 0px #486581,
    1px 0px 0px #486581,
    0px -3px 0px #486581,
    0px 3px 0px #486581;
    color: white;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
}
.artwork{
    width: 100%;
    margin-bottom: 3%;
    border: 4px solid white;
}
#sw{
    display: block;
}
#il{
    display: none;
}
#ca{
    display: none;
}
#d3{
    display: none;
}
#sk{
    display: none;
}

@media screen and (max-width: 768px){
    #img-description{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transform: translateY(-0%);;
        height: 20%;
        width: 80%;
        align-items: center;
        font-family: Verdana, sans-serif;
        top: 65%;
        left: 0%;
    }
    .container .popup-image img{
        position: absolute;
        top: 20%; left: 50%;
        transform: translate(-50%, -20%);
        height: 50%;
        width: 80%;
        object-fit: contain;
    }
    .header{
        font-size: 50px;
    }
    .select{
        font-size: 75%;
    }
    .artwork{
        border: 3px solid white;
    }
    .art-btn{
        font-size: 40px;
    }
    #left-btn{
       left: 1%;
    }
    #right-btn{
        right: 1%;
    }  
}
@media screen and (max-width: 550px){
    select{
        width: 70%;
    }
    .col{
        padding:0;
    }
    .artwork{
        margin-bottom: 0;
    }
}